* {
  background-image: url('https://img.freepik.com/free-vector/potted-plant-doodle-vector-background_53876-126321.jpg?t=st=1656548063~exp=1656548663~hmac=0a8ca7f69c09a8723f6a7f7d1e26c8f022638f5a9c0360cd624200647c61e28a&w=1380');
  -moz-background-size:100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}